{% extends "primary.html" %}

{% block title %}
  RT Database - Individual
{% endblock %}


{% block content %}
<h1>{{ person.firstname }} {{ person.lastname }}</h1>
<img src="{{ MEDIA_URL }}{{ person.sID.image }}" title="{{ person.firstname }} {{ person.lastname }}" alt_text="{{ person.firstname }} {{ person.lastname }}" />
<h2>Person Status</h2>
{% if status.creator != None %}
<p>Creator: {{ status.creator }}</p>
{% endif %}
{% if status.editor != None %}
<p>Editor: {{ status.editor }}</p>
{% endif %}
<p>Active Person: {{ status.active }}<p>
<p>Last Updated: {{ status.lastUpdated }}<p>
<h2>Social Media</h2>
<ul>
{% for name,link in socialMedia.items %}
    {% if link != None or link != "" %}
        <li><a href="{{ link }}">{{ name }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<h2>Projects</h2>
<table>
  <tr>
    <td>Project Name</td>
    <td>Last Updated</td>
    <td>Active Status</td>
  </tr>
{% for project in projects %}
<tr>
    <td><a href="/details/project/{{ project.pID }}/">{{ project.projectName }}</a></td>
    <td><p>{{ project.projectStatus.lastUpdated }}</p></td>
    <td><p>{{ project.projectStatus.active }}</p></td>

</tr>
{% endfor %}
</table>
<footer>
  <br><a href="/editPerson/{{ person.hID }}">Edit Person Details</a>
  <br><a href="/delete/person/{{ person.hID }}">Delete Person</a>
</footer>
{% endblock %}