{% extends "primary.html" %}

{% block title %}
  RT Database - Project
{% endblock %}


{% block content %}
<h1>{{ project.projectName }}</h1>
<h2>Project Details</h2>
{% if status.creator != None %}
<p>Creator: {{ status.creator }}<p>
{% endif %}

{% if status.editor != None %}
<p>Editor: {{ status.editor }}<p>
{% endif %}
<p>Active Project: {{ status.active }}<p>
<p>Last Updated: {{ status.lastUpdated }}<p>

<p>{{ project.projectDescription }}</p>
<h2>Project Social Media</h2>
<ul>
{% for name,link in socials.items %}
    {% if link != None or link != "" %}
        <li><a href="{{ link }}">{{ name }}</a></li>
    {% endif %}
{% endfor %}
</ul>
<h2>Project Members</h2>
<ul>
{% for person in people %}
    <li><a href="/details/person/{{ person.hID }}/">{{ person.firstname }} {{ person.lastname }}</a></li>
{% endfor %}
</ul>
<footer>
  <br><a href="/editProject/{{ project.pID  }}">Edit Project Details</a>
  <br><a href="/delete/project/{{ project.pID }}">Delete Project</a>
</footer>
{% endblock %}